{
    "port": 443,
    "http2": true,
    "https": true,
    "rootPath": "/var/www/",
    "staticPath": "static",
    "apiPath": "api",
    "logPath": "log",
    "errPagePath": "error",
    "https_key": "certificate/key.pem",
    "https_cert": "certificate/cert.pem",
    "nomatch": "static/index.html",
    "staticCache": 10
}