{
    "port": 443,
    "https": true,
    "http2": false,
    "httpRedirect": true,
    "rootPath": "/var/server",
    "staticPath": "static",
    "apiPath": "api",
    "errPagePath": "error",
    "socketFile": "socket/socket",
    "httpsKeyFile": "certificate/key.pem",
    "httpsCertFile": "certificate/cert.pem",
    "nomatchFile": "static/index.html",
    "apiHeaders": {
        "Content-Type": "application/json; utf-8",
        "Access-Control-Allow-Origin": "*",
        "Access-Control-Allow-Methods": "*",
        "Cache-Control": "no-store"

    },
    "staticHeaders": {
        "Content-Type": "text/html; charset=utf-8"
    },
    "headers": {
        "Strict-Transport-Security": "max-age=63072000; includeSubDomains; preload"
    },
    "apiStringify": "json",
    "staticCache": 0,
    "timeout": 0,
    "logFile": "log/server.log",
    "errFile": "log/server.err"
}